.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
  border-left: 1px solid;
  border-right: 1px solid;
}

.content {
  height: 100vh;
  /* overflow-y: scroll; Enable vertical scrolling */
  padding: 2rem;
}

.referencesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.2rem;
  margin-bottom: 3.2rem; /* Reduce the margin-bottom for tighter spacing */
}

.authorContainer {
  display: flex;
  align-items: center; /* Center the author content vertically */
}

.authorProfileImageContainer {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the author image */
  border-radius: 50%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%; /* Adjust width to fill the container */
}

.column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem; /* Add some left margin for spacing */
}

.postDetails {
  display: flex;
  gap: 0.2rem;
  color: #787878;
  margin-top: 0.5rem; /* Add top margin for spacing */
}

.listenButton {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #1a8917;
  font-weight: 600; /* Increase font weight */
}

.socials {
  display: flex;
  /* gap: 1rem; */
  color: #787878;
  cursor: pointer;
  margin-left: 1rem; /* Add some left margin for spacing */
  padding: 0;
}

.space {
  width: 0.5rem;
}

.articleMainContainer {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bannerContainer {
  height: auto; /* Remove fixed height */
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.title {
  font-weight: bold;
  font-size: 2.5rem; /* Reduce font size for the title */
  color: #292929;
  line-height: 1.2; /* Adjust line height for better readability */
}

.subtitle {
  font-family: serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1.4rem;
  color: #787878;
  margin-top: 0.5rem; /* Add top margin for spacing */
}

.articleText {
  font-family: serif;
  font-weight: 400; /* Reduce font weight for article text */
  font-size: 1.6rem; /* Increase font size for better readability */
  color: #292929;
  line-height: 1.6; /* Adjust line height for better readability */
}

/* Styles for resolutions less than 300px */
@media (max-width: 300px) {
  .content {
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .authorProfileImageContainer {
    height: 3rem; /* Adjust author profile image size */
    width: 3rem; /* Adjust author profile image size */
  }
  .socials {
    display: none;
  }
  .column {
    margin-left: 0.5rem; /* Adjust left margin for smaller screens */
  }

  .title {
    font-size: 2rem; /* Reduce font size for smaller screens */
  }

  .subtitle {
    font-size: 1.2rem; /* Reduce font size for smaller screens */
  }

  .articleText {
    font-size: 1.4rem; /* Reduce font size for smaller screens */
  }
}
